---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RecommendedTreatments from '../components/RecommendedTreatments.astro';
import Concerns from '../components/Concerns.astro';
import Trust from '../components/Trust.astro';
import Reasons from '../components/Reasons.astro';
import DirectorTestimonials from '../components/DirectorTestimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<RecommendedTreatments />
		<Concerns />
		<Trust />
		<Reasons />
		<DirectorTestimonials />
	</main>
	<Footer />
</Layout>
